### 1. Read NIRF data as given in Dataset tab on Google Classroom.

In [2]:
import pandas as pd

df = pd.read_csv("nirf.csv")

df

,institute_id,name,link,tlr,rpc,go,oi,perception,city,state,score,rank
0,IR-E-U-0456,Indian Institute of Technology Madras,https://nirfcdn.azureedge.net/2020/pdf/Enginee...,95.42,94.64,83.90,61.31,100.00,Chennai,Tamil Nadu,89.93,1
1,IR-E-I-1074,Indian Institute of Technology Delhi,https://nirfcdn.azureedge.net/2020/pdf/Enginee...,90.79,96.15,80.36,64.81,94.46,New Delhi,Delhi,88.08,2
2,IR-E-U-0306,Indian Institute of Technology Bombay,https://nirfcdn.azureedge.net/2020/pdf/Enginee...,91.00,93.37,77.60,49.99,92.51,Mumbai,Maharashtra,85.08,3
3,IR-E-I-1075,Indian Institute of Technology Kanpur,https://nirfcdn.azureedge.net/2020/pdf/Enginee...,86.22,82.08,88.44,54.21,85.78,Kanpur,Uttar Pradesh,82.18,4
4,IR-E-U-0573,Indian Institute of Technology Kharagpur,https://nirfcdn.azureedge.net/2020/pdf/Enginee...,77.32,87.11,83.21,56.62,89.31,Kharagpur,West Bengal,80.56,5
...,...,...,...,...,...,...,...,...,...,...,...,...
195,IR-E-C-42227,Dr. D. Y. Patil Institute of Technology,https://nirfcdn.azureedge.net/2020/pdf/Enginee...,49.69,1.66,53.63,48.50,1.63,Pune,Maharashtra,31.15,196
196,IR-E-C-49660,Pimpri Chinchwad College of Engineering,https://nirfcdn.azureedge.net/2020/pdf/Enginee...,46.11,7.36,50.73,48.76,0.55,Pune,Maharashtra,31.13,197
197,IR-E-C-34167,Ramrao Adik Institute of Technology,https://nirfcdn.azureedge.net/2020/pdf/Enginee...,53.60,3.82,45.75,47.25,0.00,Navi Mumbai,Maharashtra,31.11,198
198,IR-E-C-48145,BVRIT Hyderabad,https://nirfcdn.azureedge.net/2020/pdf/Enginee...,49.16,0.46,53.74,52.98,1.63,Hyderabad,Telangana,31.10,199
199,IR-E-U-0615,National Institute of Technology Arunachal Pra...,https://nirfcdn.azureedge.net/2020/pdf/Enginee...,50.56,9.06,39.36,46.21,7.12,Itanagar,Arunachal Pradesh,31.09,200

In [3]:
print(df.head())

  institute_id                                      name  \
0  IR-E-U-0456     Indian Institute of Technology Madras
1  IR-E-I-1074      Indian Institute of Technology Delhi
2  IR-E-U-0306     Indian Institute of Technology Bombay
3  IR-E-I-1075     Indian Institute of Technology Kanpur
4  IR-E-U-0573  Indian Institute of Technology Kharagpur

                                                link    tlr    rpc     go  \
0  https://nirfcdn.azureedge.net/2020/pdf/Enginee...  95.42  94.64  83.90
1  https://nirfcdn.azureedge.net/2020/pdf/Enginee...  90.79  96.15  80.36
2  https://nirfcdn.azureedge.net/2020/pdf/Enginee...  91.00  93.37  77.60
3  https://nirfcdn.azureedge.net/2020/pdf/Enginee...  86.22  82.08  88.44
4  https://nirfcdn.azureedge.net/2020/pdf/Enginee...  77.32  87.11  83.21

      oi  perception       city          state  score  rank
0  61.31      100.00    Chennai     Tamil Nadu  89.93     1
1  64.81       94.46  New Delhi          Delhi  88.08     2
2  49.99       92.51     Mumbai    Maharashtra  85.08     3
3  54.21       85.78     Kanpur  Uttar Pradesh  82.18     4
4  56.62       89.31  Kharagpur    West Bengal  80.56     5

In [4]:
print(df.tail())

     institute_id                                               name  \
195  IR-E-C-42227            Dr. D. Y. Patil Institute of Technology
196  IR-E-C-49660            Pimpri Chinchwad College of Engineering
197  IR-E-C-34167                Ramrao Adik Institute of Technology
198  IR-E-C-48145                                    BVRIT Hyderabad
199   IR-E-U-0615  National Institute of Technology Arunachal Pra...

                                                  link    tlr   rpc     go  \
195  https://nirfcdn.azureedge.net/2020/pdf/Enginee...  49.69  1.66  53.63
196  https://nirfcdn.azureedge.net/2020/pdf/Enginee...  46.11  7.36  50.73
197  https://nirfcdn.azureedge.net/2020/pdf/Enginee...  53.60  3.82  45.75
198  https://nirfcdn.azureedge.net/2020/pdf/Enginee...  49.16  0.46  53.74
199  https://nirfcdn.azureedge.net/2020/pdf/Enginee...  50.56  9.06  39.36

        oi  perception         city              state  score  rank
195  48.50        1.63         Pune        Maharashtra  31.15   196
196  48.76        0.55         Pune        Maharashtra  31.13   197
197  47.25        0.00  Navi Mumbai        Maharashtra  31.11   198
198  52.98        1.63    Hyderabad          Telangana  31.10   199
199  46.21        7.12     Itanagar  Arunachal Pradesh  31.09   200

In [5]:
print(df.shape)

(200, 12)

In [6]:
print(df.columns)

Index(['institute_id', 'name', 'link', 'tlr', 'rpc', 'go', 'oi', 'perception',
       'city', 'state', 'score', 'rank'],
      dtype='object')

### Q2. Group the data statewise and Count the number of colleges in each state.

In [4]:
state_count = df.groupby("state")["name"].count()
print("States       No. of colleges")
print(state_count)

States       No. of colleges
state
Andhra Pradesh       10
Arunachal Pradesh     2
Assam                 3
Bihar                 2
Chandigarh            2
Chhattisgarh          1
Delhi                 7
Goa                   1
Gujarat               7
Haryana               6
Himachal Pradesh      4
Jammu and Kashmir     1
Jharkhand             4
Karnataka            21
Kerala                5
Madhya Pradesh        5
Maharashtra          22
Manipur               1
Meghalaya             1
Odisha                7
Pondicherry           2
Punjab                8
Rajasthan             4
Tamil Nadu           35
Telangana            15
Tripura               1
Uttar Pradesh        11
Uttarakhand           4
West Bengal           8
Name: name, dtype: int64

### Q3. Sort the records based on rpc attribute (Research Professional practices).

In [7]:
rpc_sorted_records = df.sort_values(by='rpc', ascending=False)
# print(rpc_sorted_records)
rpc_sorted_records.head()

,institute_id,name,link,tlr,rpc,go,oi,perception,city,state,score,rank
1,IR-E-I-1074,Indian Institute of Technology Delhi,https://nirfcdn.azureedge.net/2020/pdf/Enginee...,90.79,96.15,80.36,64.81,94.46,New Delhi,Delhi,88.08,2
0,IR-E-U-0456,Indian Institute of Technology Madras,https://nirfcdn.azureedge.net/2020/pdf/Enginee...,95.42,94.64,83.90,61.31,100.00,Chennai,Tamil Nadu,89.93,1
2,IR-E-U-0306,Indian Institute of Technology Bombay,https://nirfcdn.azureedge.net/2020/pdf/Enginee...,91.00,93.37,77.60,49.99,92.51,Mumbai,Maharashtra,85.08,3
4,IR-E-U-0573,Indian Institute of Technology Kharagpur,https://nirfcdn.azureedge.net/2020/pdf/Enginee...,77.32,87.11,83.21,56.62,89.31,Kharagpur,West Bengal,80.56,5
3,IR-E-I-1075,Indian Institute of Technology Kanpur,https://nirfcdn.azureedge.net/2020/pdf/Enginee...,86.22,82.08,88.44,54.21,85.78,Kanpur,Uttar Pradesh,82.18,4

### Q4. Find the rank of Panjab University as per rpc attribute.

In [23]:
df_sorted = df.sort_values(by='rpc', ascending=False).reset_index(drop=True)
# df_sorted["rank"] = df
df_sorted["Rank"] = df_sorted.index + 1

college_rank = df_sorted[df_sorted["name"]== "Panjab University"]["rank"]
print(college_rank)

25    72
Name: rank, dtype: int64

In [24]:
rank = df.sort_values(by="rpc", ascending=False)\
         .reset_index(drop=True)\
         .index[df["name"] == "Panjab University"][0] + 1

print(rank)

72

### Q5. List the colleges whose rpc value is less than Panjab University and rank is higher(rank value is less).

In [28]:
df1 = df.sort_values(by = "rpc",ascending=False ).reset_index(drop=True)

df1["rank"] = df1.index + 1
# print(df1)
pu = df1[df1["name"] == "Panjab University"]
pu_rpc = pu["rpc"].values[0]
pu_rank = pu["rank"].values[0]
print(pu_rpc)
print(pu_rank)

result = df1[
    (df1["rank"] < pu_rank) & (df1["rpc"] < pu_rpc)
]
print(result)

43.55
26
Empty DataFrame
Columns: [institute_id, name, link, tlr, rpc, go, oi, perception, city, state, score, rank]
Index: []

In [30]:

# Sort and rank
df_sorted = df.sort_values(by="rpc", ascending=False).reset_index(drop=True)
df_sorted["rank"] = df_sorted.index + 1

# Get Panjab University data
pu = df_sorted[df_sorted["name"] == "Panjab University"]

pu_rpc = pu["rpc"].values[0]
pu_rank = pu["rank"].values[0]

# Filter
result = df_sorted[
    (df_sorted["rpc"] < pu_rpc) &
    (df_sorted["rank"] < pu_rank)
]

print(result)

Empty DataFrame
Columns: [institute_id, name, link, tlr, rpc, go, oi, perception, city, state, score, rank]
Index: []